.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tabs {
  margin: 20px 0;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
}

.rankings-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.rankings-table th, .rankings-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.rankings-table th {
  background-color: #f2f2f2;
  color: #333;
}

.rankings-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.rankings-table tr:hover {
  background-color: #ddd;
}
